/* General Elements */
html{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	font-family: 'Quicksand', sans-serif !important;
}

body{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	font-family: 'Quicksand', sans-serif !important;
	margin: 0% auto;
	text-align: center;
}

/* Game Header Specific */
#gameHeader{
	font-size: 1.5em;
	margin: 1.5% 0% 1%;
}

/* Section Class Specific */
.section{
	outline: 2px solid #121212;
	width: 22%;
	padding: 0% 1% 1% 1%;
	margin: 0.5% 0.5%;
	background-color: #FAFAFA;
	color: #121212;
	float: left;
	text-align: left;
	min-width: 200px;
	min-height: 65vh;
}

.sectionHeader{
	font-size: 1.2em;
	text-align: center;
	margin: 2% 0%;
}

.sectionSubheader{
	font-size: 1em;
	margin: 0.5% 0%;
}

.sectionDetail{
	color: #565656;
}

.sectionFull{
	width: 100%;
	bottom: 0px;
	position: fixed;
	z-index: 9999;
	outline: 2px solid #121212;
}

.sectionFullHeader{
	font-size: 1.2em;
	text-align: center;
	margin: 1% 0%;
}

#sectionArea{
    height: 91vw;
}

/* Text Log Specific */
#textLog{
	text-align: left;
	padding: 1%;
	margin: 0% auto;
	background-color: #EBEBEB;
	color: #121212;
	font-size: 1em;
}

#textLog text{
	color: #121212;
}

#textLog span{
	line-height: 1.1em;
}

/* Rarity Specific */
.rarity1{
	color: #757575;
}

.rarity2{
	color: #5aa524;
}

.rarity3{
	color: #387bed;
}

.rarity4{
	color: #a763e2;
}

.rarity5{
	color: #dd9a3b;
}

.rarity6{
	color: #cc244b;
}

/* Log Font Color Specific */
.logKill{
	color: #bf0000;
}

.logCurrency{
	color: #ccbc14;
}

.logXP{
	color: #2dbc83;
}

.logDamage{
	color: #e87006;
}

.logMonsterDamage{
	color: #8612e5;
}

.logCrit{
	font-weight: bold;
	color: red;
	text-transform: uppercase;
}

/* Creation Specific */
.creationSection{
	outline: 2px solid #121212;
	width: 20%;
	padding: 0% 1% 1% 1%;
	margin: 1% auto;
	background-color: #FAFAFA;
	color: #121212;
	text-align: left;
	min-width: 200px;
	min-height: 650px;
}

.creationButton{
	font-family: 'Quicksand', sans-serif;
	border: 0px solid transparent;
	font-size: 1em;
	background-color: #DBDBDB;
	width: 25%;
	margin: 1% 1%;
	padding: 1% 0%;
}

.creationButton:hover{
	background-color: #BABABA;
}

.creationButton:hover:active{
	color: #FAFAFA;
}

#creationSubmitArea{
	text-align: center;
}

.creationBigButton{
	font-family: 'Quicksand', sans-serif;
	border: 0px solid transparent;
	font-size: 1.2em;
	background-color: #DBDBDB;
	margin: 2% auto 0% auto;
	width: 50%;
	padding: 1%;
}

.creationBigButton:hover{
	background-color: #BABABA;
}

.creationBigButton:hover:active{
	color: #FAFAFA;
}

.creationInput{
	width: 96%;
	padding: 2%;
	margin: 1% 0%;
	border: none;
	color: #565656;
	background-color: #EBEBEB;
	font-size: 0.8em;
}

#creationStatsArea{
	text-align: center;
}

.creationTip{
	font-size: 1em;
	color: #565656;
}

/* Character Specific */
#characterStatsList{
	font-size: 1em;
	margin-left: 2%;
}

#characterStatsList li{
	margin: 0.5% 0%;
}

.levelStatButton{
	font-family: 'Quicksand', sans-serif;
	border: 0px solid transparent;
	font-size: 0.8em;
	background-color: #DBDBDB;
	width: 19%;
	margin: 1% 0.5%;
	padding: 1% 0%;
}

.levelStatButton:hover{
	background-color: #BABABA;
	cursor: pointer;
}

.levelStatButton:hover:active{
	color: #FAFAFA;
}

.levelStatButton:disabled{
	pointer-events: none;
}

#characterXPProgressArea{
	margin: 2%;
	padding: 0;
	background-color: #CACACA;
}

#characterXPProgressBar{
	margin: 0;
	padding: 0;
	width: 0%;
	height: 1em;
	background-color: #2dbc83;
}

/* Quest Specific */
.questPost{
	padding: 2%;
	margin: 0% 1% 3% 1%;
	outline: 0px solid #121212;
	background-color: #DBDBDB;
}

.questPost:hover{
	cursor: pointer;
	background-color: #CACACA;
}

.questPost:hover:active{
	background-color: #C1C1C1;
}

.questHeader{
	font-size: 1em;
	line-height: 1.1em;
}

#questBoardEmpty{
	text-align: center;
	color: #757575;
}

.qbeHide{
	display: none;
}

/* Queue Specific */
.killPosting{
	font-size: 0.9em;
	text-align: center;
	padding: 1% 0%;
	margin: 1.5% auto;
	outline: 0px solid #121212;
	background-color: #EBEBEB;
	width: 50%;
}

#killBoardEmpty{
	text-align: center;
	color: #757575;
}

.kbeHide{
	display: none;
}

/* Combat Specific */
#monsterHPProgressArea{
	margin: 2%;
	padding: 0;
	background-color: #CACACA;
}

#monsterHPProgressBar{
	margin: 0;
	padding: 0;
	width: 0%;
	height: 1em;
	background-color: #bf0000;
}

#monsterASProgressArea{
	margin: 2%;
	padding: 0;
	background-color: #CACACA;
}

#monsterASProgressBar{
	margin: 0;
	padding: 0;
	width: 0%;
	height: 1em;
	background-color: #f4b042;
}

#playerHPProgressArea{
	margin: 2%;
	padding: 0;
	background-color: #CACACA;
}

#playerHPProgressBar{
	margin: 0;
	padding: 0;
	width: 0%;
	height: 1em;
	background-color: #bf0000;
}

#playerASProgressArea{
	margin: 2%;
	padding: 0;
	background-color: #CACACA;
}

#playerASProgressBar{
	margin: 0;
	padding: 0;
	width: 0%;
	height: 1em;
	background-color: #f4b042;
}