/* General Elements */
html{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	font-family: 'Quicksand', sans-serif !important;
}

body{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	font-family: 'Quicksand', sans-serif !important;
	margin: 0% auto;
	text-align: center;
}

/* Game Header Specific */
#gameHeader{
	font-size: 2em;
	margin: 1% 0%;
}

/* Section Class Specific */
.section{
	outline: 2px solid #121212;
	width: 20%;
	padding: 0% 1% 1% 1%;
	margin: 1% 1.5%;
	background-color: #FAFAFA;
	color: #121212;
	float: left;
	text-align: left;
	min-width: 200px;
	min-height: 650px;
}

.sectionHeader{
	font-size: 1.5em;
	text-align: center;
	margin: 2% 0%;
}

.sectionSubheader{
	font-size: 1.2em;
	margin: 0.5% 0%;
}

.sectionDetail{
	color: #565656;
}

/* Text Log Specific */
#textLog{
	outline: 2px solid #121212;
	text-align: left;
	padding: 1%;
	margin: 0% auto;
	background-color: #EBEBEB;
	color: #121212;
}

#textLog text{
	color: green;
}

/* Creation Specific */
.creationSection{
	outline: 2px solid #121212;
	width: 20%;
	padding: 0% 1% 1% 1%;
	margin: 1% auto;
	background-color: #FAFAFA;
	color: #121212;
	text-align: left;
	min-width: 200px;
	min-height: 650px;
}

.creationButton{
	font-family: 'Quicksand', sans-serif;
	border: 0px solid transparent;
	font-size: 1em;
	background-color: #DBDBDB;
	width: 25%;
	margin: 1% 1%;
	padding: 1% 0%;
}

.creationButton:hover{
	background-color: #BABABA;
}

.creationButton:hover:active{
	color: #FAFAFA;
}

#creationSubmitArea{
	text-align: center;
}

.creationBigButton{
	font-family: 'Quicksand', sans-serif;
	border: 0px solid transparent;
	font-size: 1.2em;
	background-color: #DBDBDB;
	margin: 2% auto 0% auto;
	width: 50%;
	padding: 1%;
}

.creationBigButton:hover{
	background-color: #BABABA;
}

.creationBigButton:hover:active{
	color: #FAFAFA;
}

.creationInput{
	width: 96%;
	padding: 2%;
	margin: 1% 0%;
	border: none;
	color: #565656;
	background-color: #EBEBEB;
	font-size: 0.8em;
}

#creationStatsArea{
	text-align: center;
}

.creationTip{
	font-size: 1em;
	color: #565656;
}

/* Character Specific */
#characterStatsList{
	font-size: 1.1em;
	margin-left: 2%;
}

#characterStatsList li{
	margin: 0.5% 0%;
}

.levelStatButton{
	font-family: 'Quicksand', sans-serif;
	border: 0px solid transparent;
	font-size: 0.8em;
	background-color: #DBDBDB;
	width: 19%;
	margin: 1% 0.5%;
	padding: 1% 0%;
}

.levelStatButton:hover{
	background-color: #BABABA;
	cursor: pointer;
}

.levelStatButton:hover:active{
	color: #FAFAFA;
}

.levelStatButton:disabled{
	pointer-events: none;
}

/* Quest Specific */
.questPost{
	padding: 2%;
	margin: 5% 1% 1% 1%;
	outline: 2px solid #121212;
	background-color: #EBEBEB;
}

.questPost:hover{
	cursor: pointer;
	background-color: #DCDCDC;
}

.questPost:hover:active{
	background-color: #CBCBCB;
}

.questHeader{
	font-size: 1.2em;
}

/* Queue Specific */
.killPosting{
	text-align: center;
	padding: 1%;
	margin: 2%;
	outline: 1px solid #121212;
	background-color: #EBEBEB
}